/* intro.scss */

.intro {
  font-family: 'Rethink Sans', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  .left-partition {
    margin-left: 3rem;
    margin-top: 2rem;
    width: 50%;
    padding: 1.25rem;

    .introduction {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .hello-text {
        font-size: 1rem;
        margin-bottom: 10px;
      }

      .name-text {
        font-size: 3.125rem; /* Larger font size for the name */
        margin-bottom: 10px;
      }

      .about-me-text {
        font-size: 1.2rem; /* Medium font size for about me text */
        max-width: 100%;
        margin-bottom: 30px;
      }

      .cv-button {
        box-sizing: border-box;
        appearance: none;
        background-color: transparent;
        border: 1px solid #ffffff;
        border-radius: 0.2em;
        color: #000000;
        cursor: pointer;
        font-size: 0.8rem;
        padding: 0.8em;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;

        &:hover {
          background-color: chocolate;
          color: #000000;
        }
        &:hover {
          box-shadow: 0 0 40px 40px chocolate inset;
        }
      }
    }
  }

  .image {
    margin-right: 3rem;
    margin-top: 3rem;
    width: 40%;
    padding: 1.25rem;
  }
}
