/* header.scss */

.header-menu {
  nav {
    display: flex;
    justify-content: center;
  }

  ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0 1.5rem; /* Adjust margin using rem units */
  }

  a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem; /* Adjust font size using rem units */
    position: relative;
  }

  /* Style for the active link */
  a.active {
    color: chocolate; /* Color for the active link */
  }
}
