.skills {
  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    .left-section {
      .profile-picture {
        padding: 1.25rem;
      }
    }
    .right-section {
      .about-me {
        .about-me-text {
          color: rgb(241, 170, 76);
        }
      }
      .contact-section {
      }
      .sign {
        padding-bottom: 20px;
      }
      .contact-button {
        box-sizing: border-box;
        appearance: none;
        background-color: transparent;
        border: 1px solid #ffffff;
        border-radius: 0.2em;
        color: #ffffff;
        cursor: pointer;
        font-size: 0.8rem;
        padding: 0.8em;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;

        &:hover {
          background-color: chocolate;
          color: #000000;
        }
        &:hover {
          box-shadow: 0 0 40px 40px chocolate inset;
        }
      }
    }
  }
  .skills-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .skill-text {
      color:chocolate;
    }
  }

  .skill-set {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .skill-pair {
    display: flex;
    margin-bottom: 0.3rem;
    color: chocolate;
  }

  progress {
    width: 80%;
  }
}
