.footer-menu {
  font-family: "Rethink Sans", sans-serif;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  list-style: none;
  padding: 1rem;
  margin-left: 1rem; /* Adjust the distance from the left in rem units */
}

.footer-menu li {
  margin-bottom: 0.5rem; /* Adjust the spacing between items in rem units */
  color: #333; /* Text color */
  font-size: 1rem; /* Adjust font size in rem units */
  cursor: pointer;
  margin-right: 0.5rem; /* Adjust the spacing between items in rem units */
  transition: color 0.3s ease, text-decoration 0.3s ease;

  &:hover {
    text-decoration: underline;
    color: chocolate;
  }
}

